@page
@model Backoffice.Pages.Equipments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Equipements</h1>

<p>
    <a asp-page="Create">Nouvel équipement</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentPrice) (en Ariary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EquipmentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EquipmentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EquipmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
