@page
@model Backoffice.Pages.Spaces.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Êtes-vous sûr de vouloir supprimer cette salle ?</h3>

<a asp-page="Index" class="btn btn-light d-flex">
    <div><i class="fa fa-sm fa-outdent"></i></div>
    <div class="ms-2">Revenir à la liste</div>
</a>

<div>
    <h4>Space</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Space.SpaceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.SpaceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Space.SpaceCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.SpaceCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Space.SpacePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.SpacePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Space.SpaceDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Space.SpaceDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Space.SpaceID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
    </form>
</div>
