@page
@model Backoffice.Pages.Spaces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Salles</h1>

<p>
    <button class="btn bg-gradient-primary">
        <a asp-page="Create" class="text-white d-flex">
            <div><i class="fa fa-sm fa-plus"></i></div>
            <div class="ms-2">Nouvelle salle</div>
        </a>
    </button>
</p>
<div class="table-responsive">
<table class="table shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].SpaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].SpaceCapacity)
            </th>
            <th class="text-nowrap">
                @Html.DisplayNameFor(model => model.Space[0].SpacePrice) de location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].SpaceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].Filename)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Space) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpacePrice)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpaceDescription)
                </td>
            <td>
                <img src="@item.Filename" alt="Image" style="width: 100px; height: auto;" />
            </td>
                    <td class="d-flex">
                        <a asp-page="./Edit" asp-route-id="@item.SpaceID" class="btn btn-light d-flex">
                            <div><i class="fa fa-sm fa-edit"></i></div>
                            <div class="ms-2">Modifier</div>
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.SpaceID" class="btn btn-light d-flex">
                            <div><i class="fa fa-sm fa-circle-info"></i></div>
                            <div class="ms-2">Détails</div>
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.SpaceID" class="btn btn-light d-flex">
                            <div><i class="fa-solid fa-trash-can fa-sm" style="color: #ff0000;"></i></div>
                            <div class="ms-2">Supprimer</div>
                        </a>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>
