@page
@model Backoffice.Pages.Spaces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Salles</h1>

<p>
    <a asp-page="Create">Enregistrer une nouvelle salle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].SpaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].SpaceCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].SpacePrice) de location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Space) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpaceCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpacePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpaceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpaceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpaceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
