@page
@model Backoffice.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Êtes-vous sûr de bien vouloir supprimer cette réservation ?</h3>

<a asp-page="Index" class="btn btn-light d-flex">
    <div><i class="fa fa-sm fa-outdent"></i></div>
    <div class="ms-2">Revenir à la liste</div>
</a>
<div>
    <h4>Réservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.DateDiff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.DateDiff) Jours
        </dd>
        <dt class="col-sm-2">
            Prix unitaire
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Space.SpacePrice) Ar
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.BookingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.BookingPrice) Ar
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Customer.CustomerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Space)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Space.SpaceName)
        </dd>
        <dt class="col-sm-2">
            Capacité de la salle
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Space.SpaceCapacity)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
    </form>
</div>
