@page
@model Backoffice.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Validation</h1>

<form method="post">
    <div>
        <h4>Informations sur la réservation</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.BookingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.BookingDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.BookingEndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.BookingEndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.DateDiff)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.DateDiff) Jours
            </dd>
            <dt class="col-sm-2">
                 Prix unitaire
            </dt>
            <dd class="col-sm-10">
                 @Html.DisplayFor(model => model.Booking.Space.SpacePrice) Ar
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.BookingPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.BookingPrice) Ar
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Customer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Customer.CustomerEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Booking.Space)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Space.SpaceName)
            </dd>
            <dt class="col-sm-2">
                Capacité de la salle
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Booking.Space.SpaceCapacity)
            </dd>
        </dl>
    </div>
    <div>
        <input type="hidden" asp-for="Booking.BookingID" />  <button type="submit" class="btn btn-lg btn-success">Confirmer la validation</button>
    </div>
</form>
