@page
@model Backoffice.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Réservations</h1>

<p>
    <a asp-page="Create">Effectuer une nouvelle réservation</a>
</p>
<table class="table bg-white">
    <thead>
        <tr>
            <th></th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@((Model.SortOrder == "date") ? "date_desc" : "date")" class="simple-anchor">
                    @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
                    @(Model.SortOrder == "date" ? "↑" : Model.SortOrder == "date_desc" ? "↓" : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@((Model.SortOrder == "date") ? "date_desc" : "date")" class="simple-anchor">
                    @Html.DisplayNameFor(model => model.Booking[0].BookingEndDate)
                    @(Model.SortOrder == "date" ? "↑" : Model.SortOrder == "date_desc" ? "↓" : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@((Model.SortOrder == "date") ? "date_desc" : "date")" class="simple-anchor">
                    @Html.DisplayNameFor(model => model.Booking[0].DateDiff)
                    @(Model.SortOrder == "date" ? "↑" : Model.SortOrder == "date_desc" ? "↓" : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@((Model.SortOrder == "price") ? "price_desc" : "price")" class="simple-anchor">
                    @Html.DisplayNameFor(model => model.Booking[0].BookingPrice)
                    @(Model.SortOrder == "price" ? "↑" : Model.SortOrder == "price_desc" ? "↓" : "")
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-SortOrder="@((Model.SortOrder == "customer") ? "customer_desc" : "customer")" class="simple-anchor">
                    @Html.DisplayNameFor(model => model.Booking[0].Customer.CustomerEmail)
                    @(Model.SortOrder == "customer" ? "↑" : Model.SortOrder == "customer_desc" ? "↓" : "")
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Space)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td class="text-center">
                @if(item.IsValidated == true) {
                    <i class="fa-solid fa-check fa-sm" style="color: #4d934d;"></i>
                } else {
                    <i class="fa-solid fa-xmark fa-sm" style="color:red"></i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDiff)
            </td>
            <td>
                @item.BookingPrice.ToString("N1") Ar
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Space.SpaceName)
            </td>
            <td>
                <div class="dropdown">
                    <a href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Actions</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a asp-page="./Edit" asp-route-id="@item.BookingID" class="dropdown-item">
                                <i class="fa-solid fa-pen-to-square fa-sm"></i>
                            Modifier
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.BookingID" class="dropdown-item">
                                <i class="fa-solid fa-trash-can fa-sm" style="color: #ff0000;"></i>
                            Supprimer
                        </a>
                            @if (item.IsValidated != true)
                            {
                                <a asp-page="./Details" asp-route-id="@item.BookingID" class="dropdown-item">
                                        <i class="fa-solid fa-check fa-sm" style="color: #4d934d;"></i>
                                    Valider
                                </a>
                            }
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
