@page
@model Backoffice.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    <button class="btn bg-gradient-primary">
        <a asp-page="Create" class="text-white d-flex">
            <div><i class="fa fa-sm fa-plus"></i></div>
            <div class="ms-2">Nouveau client</div>
        </a>
    </button>
</p>
<table class="table shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerFirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerPhone)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td class="d-flex">
                <a asp-page="./Edit" asp-route-id="@item.CustomerID" class="btn btn-light d-flex">
                    <div><i class="fa fa-sm fa-edit"></i></div>
                    <div class="ms-2">Modifier</div>
                </a>
                 <a asp-page="./Details" asp-route-id="@item.CustomerID" class="btn btn-light d-flex">
                    <div><i class="fa fa-sm fa-circle-info"></i></div>
                        <div class="ms-2">Détails</div>
                </a>
                    <a asp-page="./Delete" asp-route-id="@item.CustomerID" class="btn btn-light d-flex">
                        <div><i class="fa-solid fa-trash-can fa-sm" style="color: #ff0000;"></i></div>
                        <div class="ms-2">Supprimer</div>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
